<div class="league-card" [routerLink]="['/leagues', league.id]" data-testid="league-card">
  <div class="league-header">
    <h3 class="league-name" data-testid="league-card-name">{{ league.name }}</h3>
    <span class="league-status" [class]="'status-' + league.status">{{ league.status }}</span>
  </div>
  
  <p class="league-description">{{ league.description || 'No description' }}</p>
  
  <div class="league-meta">
    <div class="meta-item">
      <svg width="16" height="16" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10 2a8 8 0 100 16 8 8 0 000-16zM8 10a2 2 0 114 0 2 2 0 01-4 0z"/>
      </svg>
      <span>{{ league.gameType }}</span>
    </div>
    
    <div class="meta-item">
      <svg width="16" height="16" viewBox="0 0 20 20" fill="currentColor">
        <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"/>
      </svg>
      <span>{{ memberCount }} member{{ memberCount !== 1 ? 's' : '' }}</span>
    </div>
  </div>
  
  <div class="league-footer">
    <span class="creator-name">Created by {{ creatorName }}</span>
    <span class="invite-code">{{ league.inviteCode }}</span>
  </div>
</div>

